.span-form {
  color: red;
}

.prefix {
  align-self: center;
  margin: 0;
  padding: 0;
  padding-left: 3.5vw;
}

.timer {
  text-align: center;
  color: red;
  vertical-align: middle;
}
